Source: program
Section: utils
Priority: optional
Maintainer: vitaliydenisko vip.vitalii125@gmail.com
Build-Depends: debhelper (>= 9), g++
Standards-Version: 3.9.6
Homepage: http://example.com

Package: program
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Example program
 A simple program demonstrating how to package a C++ application for Debian.

